---
layout: default
title: Projects
---

<div id="preview-grid">

{% assign parents = site.projects
   | where_exp: "item", "item.parent == nil"
   | sort: "date"
   | reverse %}

{% for parent in parents %}

    {% assign children = site.projects
        | where: "parent", parent.slug
        | sort: "date" %}

    {% if children.size > 0 %}

        {% for child in children %}
            <a href="{{ child.url }}" class="preview-item">
                <div class="preview-image">
                    <img src="{{ child.thumbnail }}" loading="eager">
                </div>
                <div class="preview-title">
                    {{ child.title }}
                </div>
            </a>
        {% endfor %}

    {% else %}

        {% if parent.thumbnail %}
            <a href="{{ parent.url }}" class="preview-item">
                <img src="{{ parent.thumbnail }}" loading="eager">
                <div class="preview-title">
                    {{ parent.title }}
                </div>
            </a>
        {% endif %}

    {% endif %}

{% endfor %}

</div>