---
layout: default
title: Projects
---
<h1 class="project-title">Overview</h1>

<div id="preview-grid">

{% assign parents = site.projects
   | where_exp: "item", "item.parent == nil"
   | sort: "date"
   | reverse %}

{% for parent in parents %}

    {% assign children = site.projects
        | where: "parent", parent.slug
        | sort: "date" %}

    {% if children.size > 0 %}

        {% for child in children %}
            <a href="{{ child.url }}" 
                class="preview-item"
                data-project="{{ child.url }}">
                <div class="preview-image">
                    <img src="{{ child.thumbnail }}" loading="eager">
                </div>
                <div class="preview-title">
                    <em>{{ child.title }}</em>{% if child.year %}<span class="year">, {{ child.year }}</span>{% endif %}
                </div>
            </a>
        {% endfor %}

    {% else %}

        {% if parent.thumbnail %}
            <a href="{{ parent.url }}" 
                class="preview-item"
                data-project="{{ parent.url }}">
                <div class="preview-image">
                <img src="{{ parent.thumbnail }}" loading="eager">
                </div>
                <div class="preview-title">
                    <em>{{ parent.title }}</em>{% if parent.year %}<span class="year">, {{ parent.year }}</span>{% endif %}
                </div>
            </a>
        {% endif %}

    {% endif %}

{% endfor %}

</div>