body {
    margin: 0;
    padding: 40px;
    font-family: "Courier New", Courier, monospace;
    background-color: #f6f1c4;
    background-image:
        linear-gradient(to right, rgba(0,0,0,0.08) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.08) 1px, transparent 1px),
        linear-gradient(to right, rgba(0,0,0,0.18) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.18) 1px, transparent 1px);
    background-size:
        10px 10px,
        10px 10px,
        100px 100px,
        100px 100px;
    color: black;
}

/* Globale Links */
a, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    opacity: 0.4;
}

/* Navigation */
nav {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 60px;
}

/* Name links */
.nav-left a {
    font-size: 18px;
    font-weight: normal;
}

/* Rechte Navigation */
.nav-right {
    display: flex;
    gap: 30px;
    font-size: 18px;
}

/* Aktive Hauptnavigation */
.nav-right a.active {
    background-color: #add8e6;
    padding: 4px 8px;
    border-radius: 3px;
    font-weight: bold;
}

/* Layout */
.projects-layout {
    display: flex;
    gap: 40px;
}

/* Projektliste links */
.projects-list {
    width: 300px;
    margin-top: 1px;
    padding-left: 30px;
    padding-right: 10px;
}

/* Links in der Projektliste */
.projects-list a {
    display: block;
    font-size: 14px;
    margin-bottom: 12px;
}

/* Rechte Content-Seite */
.projects-content {
    flex: 1;
}