body {
    margin: 0;
    padding: 40px;
    font-family: "Courier New", Courier, monospace;
    background-color: #f6f1c4;
    background-image:
        linear-gradient(to right, rgba(0,0,0,0.08) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.08) 1px, transparent 1px),
        linear-gradient(to right, rgba(0,0,0,0.18) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.18) 1px, transparent 1px);
    background-size:
        10px 10px,
        10px 10px,
        100px 100px,
        100px 100px;
    color: black;
}

/* Globale Links */
a, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    opacity: 0.4;
}

/* Navigation */
nav {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 60px;
}

/* Name links */
.nav-left a {
    font-size: 18px;
    font-weight: normal;
}

/* Rechte Navigation */
.nav-right {
    display: flex;
    gap: 30px;
    font-size: 18px;
}

.nav-right a.active {
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}

/* projects.html */
/* Layout projects.html */
.projects-layout {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

/* Projektliste links */
#projects-list-container {
    width: 300px;
    margin-top: 1px;
    padding-left: 0px;
    padding-right: 10px;
    flex-shrink: 0;
}

/* Links in der Projektliste */
.projects-list a {
    display: block;
    font-size: 18px;
    margin-bottom: 12px;
}

.projects-list a.active {
    border-left: 2px solid #000;
    padding-left: 6px;
}


/* Rechte Content-Seite */
.projects-content {
    flex: 1;
}

/* Medien Grid */

.media-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 40px;
    margin-top: 40px;
}

.media-grid img,
.media-grid video {
    width: 100%;
    height: auto;
    display: block;
}

.project-group {
    margin-bottom: 14px;
}

.project-group > a {
    display: block;
    font-size: 18px;
}

/* Subprojekte standardmäßig versteckt */
.subprojects {
    display: none;
    margin-top: 6px;
    padding-left: 18px;
}

/* Unterlinks */
.subprojects {
    display: none;
    margin-top: 6px;
    padding-left: 18px;
}

.subprojects a {
    display: block;
    font-size: 15px;
    margin-bottom: 6px;
    opacity: 1;
    transition: opacity 0.2s ease;
}

.subprojects a:hover {
    opacity: 0.4;
}
/* Beim Hover sichtbar */
.project-group:hover .subprojects {
    display: block;
}

/* Wenn per Klick aktiviert */
.project-group.open .subprojects {
    display: block;
}


