body {
    margin: 0;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f6f1c4;
    color: black;
}

/* Links global */
a, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    opacity: 0.4;
}

/* Navigation */
nav {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 80px;
}

/* DEIN NAME größer */
.nav-left a {
    font-size: 40px;
    font-weight: normal;
}

/* Rechte Navigation */
.nav-right {
    display: flex;
    gap: 30px;
    font-size: 18px;
}

/* Layout */
.projects-layout {
    display: flex;
}

/* Projektliste links */
.projects-list {
    width: 300px;
}

.projects-list a {
    display: block;
    font-size: 26px;  /* kleiner als DEIN NAME */
    margin-bottom: 20px;
}

/* Rechte Seite */
.projects-content {
    flex: 1;
}