/* =========================
   RESET
========================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* =========================
   CUSTOM CURSOR
========================= */

/* Default */
html,
body {
    cursor: url('/assets/cursor-default.png') 14 14, auto;
}

/* Clickable */
a,
button,
.preview-item,
.media-grid img,
.media-grid video {
    cursor: url('/assets/cursor-pointer.png') 16 16, pointer;
}

/* =========================
   BODY + BACKGROUND
========================= */

body {
    font-family: "Courier New", Courier, monospace;
    background-color: #ee8e8e; /* #f6f1c4; */
    background-image:
        linear-gradient(to right, rgba(0,0,0,0.08) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.08) 1px, transparent 1px),
        linear-gradient(to right, rgba(0,0,0,0.18) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.18) 1px, transparent 1px);
    background-size:
        10px 10px,
        10px 10px,
        100px 100px,
        100px 100px;
    background-position:
        0 -20px,
        0 -20px,
        0 -20px,
        0 -20px;
    color: #000;
}

/* Gelb) */
body.theme-yellow {
    background-color: #f6f1c4;
}

/* Rot */
body.theme-red {
    background-color: #ee8e8e;
}

/* Hellgrau */
body.theme-gray {
    background-color: #e8e8e8;
}

body.theme-purple {
    background-color: #7971d4;
}

/* =========================
   GLOBAL LINKS
========================= */

a,
a:visited {
    color: #000;
    text-decoration: none;
}

@media (hover: hover) and (pointer: fine) {
    a:hover:not(.preview-item) {
        opacity: 0.4;
    }
}

/* =========================
   LAYOUT GRID
========================= */

.layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 80px 1fr;
    min-height: 100vh;
}

/* =========================
   HEADER
========================= */

.header {
    grid-column: 1 / span 2;
    padding: 25px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* Horizontale Linie unter Header */
.header::after {
    content: "";
    position: absolute;
    left: 20px;       /* Abstand links */
    right: 20px;      /* Abstand rechts */
    bottom: 0;
    height: 1.2px;      /* Dicke der Linie */
    background: #000000;
}

/* =========================
   SITE LOGO
========================= */

.site-logo {
    height: 300px;   /* Größe anpassen */
    width: auto;
    display: block;
    margin-top: 10px;     /* nach unten */
    margin-left: 16px;   /* nach rechts */
}

.site-logo:hover {
    opacity: 0.6;
} 


/* =========================
   SIDEBAR
========================= */

.sidebar {
    padding: 40px 20px 40px 30px;
    position: relative;
}

/* Vertikale Linie rechts von Sidebar */
.sidebar::after {
    content: "";
    position: absolute;
    top: 20px;        /* kleine Lücke zur oberen Linie */
    bottom: 20px;     /* etwas Luft unten */
    right: 0;
    width: 1.2px;       /* Dicke der Linie */
    background: #000000;
}

/* =========================
  MAIN 
========================= */

.main {
    padding: 20px 40px 40px 40px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 80px); /* 80px = header height */
}

img {
    border-radius: 4px;
}

/* =========================
   HEADER NAVIGATION
========================= */

.nav-left a {
    font-size: 22px;
}

.nav-right {
    display: flex;
    gap: 30px;
    font-size: 18px;
    font-family: inherit;
    background: transparent;
    border: 1.5px solid #000;
    padding: 6px 16px;
    border-radius: 6px; 
}

.nav-right a.active {
    border-bottom: 1px solid #000;
    padding-bottom: 2px;
}

/* =========================
   SIDEBAR NAVIGATION
========================= */

.sidebar-group {
    margin-bottom: 6px;
    font-size: 18px;
}

.sidebar-group > a {
    display: block;
    margin-bottom: 6px;
}

.sidebar a.active {
    border-left: 2px solid #000;
    padding-left: 6px;
}

/* Subnavigation */
.sidebar-sub a {
    display: block;        /* WICHTIG */
    font-size: 18px;
    margin-bottom: 4.5px;
    transition: opacity 0.2s ease;
}

/* Subnavigation Container */
.sidebar-sub {
    display: none;
    margin-top: 4.5px;
    padding-left: 18px;
}

.sidebar-sub a:hover {
    opacity: 0.4;
}


/* =========================
   Hover
========================= */

/* Hover + JS open state */

@media (min-width: 901px) {
    .sidebar-group:hover .sidebar-sub {
        display: block;
    }
}

/* Subnavigation dauerhaft öffnen wenn aktiv */
.sidebar-group.open .sidebar-sub {
    display: block;
}

/* =========================
   MEDIA GRID
========================= */

.media-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;   /* exakt 2 Spalten */
    gap: 30px;                        /* Abstand zwischen den Bildern */
    margin-top: 20px;
}

.media-grid img,
.media-grid video {
    width: 100%;
    height: auto;
    display: block;
}

/* =========================
   Thumbnail-Preview GRID
   (4 Spalten, variable Höhe)
========================= */

#preview-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;

    align-items: start;   /* wichtig */
}

.preview-item {
    display: block;
    position: relative;
    transition: transform 0.25s ease;
}

.preview-item img {
    width: 100%;
    height: auto;
    display: block;
}

.preview-title {
    margin-top: 6px;
    font-size: 14px;
    /* font-weight: bold; */
    transition: transform 0.25s ease;
}

@media (hover: hover) and (pointer: fine) {
    .preview-item:hover,
    .preview-item.sidebar-hover {
        transform: translateY(-8px);
    }
}

/* =========================
   TOGGLES – MINIMAL STYLE
========================= */

.theme-toggle,
.sidebar-toggle {
    background: transparent;
    color: #000;
    border: 1.2px solid #000;
    padding: 6px 16px;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.2s ease, color 0.2s ease, opacity 0.2s ease;
}

/* blendet menu toggle im desktop aus*/
.sidebar-toggle {
    display: none;
}

/* Subtiler Hover */
.theme-toggle:hover,
.sidebar-toggle:hover {
    background: #000;
    color: #fff;
}

/* Hover */
.sidebar-toggle:hover {
    background: #000;
    color: #f6f1c4;
}

/* Aktiver Zustand (wenn Sidebar offen) */
.layout.sidebar-open .sidebar-toggle {
    background: #000;
    color: #f6f1c4;
}


/* =========================
   LIGHTBOX
========================= */

.lightbox {
    position: fixed;
    inset: 0;
    background: rgba(255, 255, 255, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5000;
}

.lightbox.hidden {
    display: none;
}

.lightbox img {
    max-width: 85vw;
    max-height: 85vh;
    object-fit: contain;
}

/* =========================
   LIGHTBOX NAVIGATION
========================= */

.lightbox button {
    position: absolute;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

/* SVG-Größe */
.lightbox button img {
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.lightbox button:hover img {
    transform: scale(1.1);
    opacity: 0.7;
}

/* Close */
.slideshow-close {
    top: 30px;
    right: 40px;
}

.slideshow-close img {
    width: 50px;
    height: 50px;
}

/* Navigation */
.slideshow-nav-left {
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.slideshow-nav-right {
    right: 40px;
    top: 50%;
    transform: translateY(-50%);
}

.slideshow-nav img {
    width: 50px;
    height: 50px;
}


/* Kein Projekt Titel im Desktop anzeigen */
.project-title {
    display: none;
}


/* =======================================
   PROJEKT NAVIGATION MAIN VOR UND ZURÜCK
========================================== */

.project-navigation {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding-top: 40px;
    position: relative;
}

/* Prev immer links */
.project-navigation .nav-prev {
    margin-right: auto;
}

/* Next immer rechts */
.project-navigation .nav-next {
    margin-left: auto;
}

.project-navigation a {
    display: flex;
    align-items: center;
    gap: 2px;
    font-size: 12px;
}

.project-navigation a:hover {
    opacity: 0.6;
}

.project-navigation img {
    width: 60px;
    height: 60px;
    height: auto;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

.project-navigation a:hover img {
    opacity: 0.6;
    transform: scale(1.05);
}


/* =========================
   RESPONSIVE
========================= */

@media (max-width: 900px) {

    .layout {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        position: relative;
    }

    .header::after {
        content: "";
        position: absolute;
        left: 0px;       /* Abstand links */
        right: 30px;      /* Abstand rechts */
        bottom: 0;
        height: 1.2px;      /* Dicke der Linie */
        background: #000000;
    }

    /* Navigation unter Mein Name */
    .nav-right {
        display: flex;
        flex-direction: wrap;
        background: none;
        border: none;
        gap: 14px;
        font-size: 17px;
        margin-top: 10px;
        margin-left: 6px;
    }

    /* change Theme oben rechts in Header-Ecke */
    .theme-toggle {
        position: absolute;
        top: 18px;
        right: 20px;

        padding: 4px 10px;
        font-size: 14px;
        background: transparent;
        border: 1px solid #000;
    }

    /* Menu Button unter der Linie */
    .sidebar-toggle {
        display: block;
        position: fixed;
        top: 127px;   
        right: 20px;
        bottom: auto;   /* sitzt unter der Linie */
        z-index: 3000; 
        background: black;
        color: #ffffff;
    }

    .main {
        padding-top: 10px;
    }

    /* Sidebar weiterhin off-canvas */
    .sidebar {
        position: fixed;
        top: 80px;
        left: 0;
        width: 240px;
        height: calc(100vh - 80px);
        background: #f6f1c4;
        transform: translateX(-100%);
        transition: transform 0.3s ease;
        z-index: 2000;
        padding: 30px 20px;
        overflow-y: auto;
    }

    .layout.sidebar-open .sidebar {
        transform: translateX(0);
    }

    .sidebar::after {
        display: none;
    }

    .sidebar-group:hover .sidebar-sub {
        display: none;
    }

    .slideshow-nav img {
        width: 30px;
        height: 30px;
    }

    .media-grid {
        grid-template-columns: 1fr;
    }

    #preview-grid {
        grid-template-columns: 1fr;
    }

    /* Projekttitel in Mobile anzeigen */
    .project-title {
        display: block;
        font-size: 22px;
        margin-bottom: 20px;
        margin-top: 10px;
        font-weight: normal;
    }
}