body {
    margin: 0;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background: #f6f1c4;
    color: black;
}

/* Alle Links schwarz, ohne Unterstreichung */
a, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    opacity: 0.4;
}

nav {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 80px;
    font-size: 18px;
}

.nav-right {
    display: flex;
    gap: 30px;
}

/* Projektlayout */
.projects-layout {
    display: flex;
}

/* Linke Spalte */
.projects-list {
    width: 300px;
}

.projects-list a {
    display: block;
    font-size: 32px;
    margin-bottom: 25px;
}

/* Rechte Spalte */
.projects-content {
    flex: 1;
}