body {
    margin: 0;
    padding: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f1c4;
    background-image:
        linear-gradient(to right, rgba(0,0,0,0.08) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.08) 1px, transparent 1px),
        linear-gradient(to right, rgba(0,0,0,0.18) 1px, transparent 1px),
        linear-gradient(to bottom, rgba(0,0,0,0.18) 1px, transparent 1px);
    background-size:
        10px 10px,
        10px 10px,
        100px 100px,
        100px 100px;
    color: black;
}

/* Links global */
a, a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    opacity: 0.4;
}

/* Navigation */
nav {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 60px; /* etwas enger zur Liste */
}

/* DEIN NAME */
.nav-left a {
    font-size: 18px;
    font-weight: normal;
}

/* Rechte Navigation */
.nav-right {
    display: flex;
    gap: 30px;
    font-size: 18px;
}

/* Layout */
.projects-layout {
    display: flex;
    gap: 40px; /* Abstand zwischen Liste und Inhalt */
}

/* Projektliste links */
.projects-list {
    width: 300px;
    margin-top: 10px;   /* Liste beginnt höher */
    padding-left: 20px; /* Einrücken der Liste nach innen */
    padding-right: 10px;
}

/* Links in der Liste */
.projects-list a {
    display: block;
    font-size: 14px;  
    margin-bottom: 12px; /* etwas mehr Abstand zwischen den Links */
}

/* Rechte Seite */
.projects-content {
    flex: 1;
}