<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} – {{ site.title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>

<div id="lightbox" class="lightbox hidden">
    <button class="lightbox-close">×</button>
    <button class="lightbox-prev">‹</button>
    <img class="lightbox-image" src="">
    <button class="lightbox-next">›</button>
</div>

<body>

<div class="layout">

    {% include header.html %}
    {% include sidebar.html %}

    <main class="main">
        {{ content }}
    </main>

</div>

<script src="/main.js"></script>
</body>
</html>